<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)"
             size="medium"
             color="#fff"
             type="ball-pulse"></ngx-spinner>
<h1 mat-dialog-title>Edit: {{metric.name}}</h1>
<div mat-dialog-content style="width:100%; height:90%; overflow:visible ">
  <mat-tab-group style="width:100%; height:87%; overflow:visible  ">
    <mat-tab label="Main" style="width:100%; height:100%;overflow:visible ">
      <br />
      <form style="width:100%; height:100%;overflow:visible ">
        <div style="width:100%">
          <mat-form-field [floatLabel]="metricForm.value.floatLabel" style="width:65%">
            <mat-label>Name</mat-label>
            <input matInput name="name" [(ngModel)]="metric.name" value="{{metric.name}}">
          </mat-form-field>
          <mat-form-field [floatLabel]="metricForm.value.floatLabel" style="padding-left:15px;width:30%">
            <mat-label>ID</mat-label>
            <input matInput name="id" [(ngModel)]="metric.id" value="{{metric.id}}" readonly>
          </mat-form-field>
        </div>

        <div style="width:100%">
          <mat-form-field [floatLabel]="metricForm.value.floatLabel" style="width:50%">
            <mat-label>X Axis</mat-label>
            <mat-select matInput name="x-type" [(ngModel)]="metric.x_type" value="{{metric.x_type}}">
              <mat-option *ngFor="let s of axisLabels" [value]="s">
                {{s}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field [floatLabel]="metricForm.value.floatLabel" style="padding-left:15px; width:50%">
            <mat-label>Y Axis</mat-label>
            <mat-select matInput name="y_type" [(ngModel)]="metric.y_type" value="{{metric.y_type}}">
              <mat-option *ngFor="let s of axisLabels" [value]="s">
                {{s}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div style="width:100%">
          <mat-form-field [floatLabel]="metricForm.value.floatLabel" style="width:50%">
            <mat-label>Units</mat-label>
            <input matInput name="units" [(ngModel)]="metric.rounding_unit" value="{{metric.rounding_unit}}">
          </mat-form-field>
          <mat-form-field [floatLabel]="metricForm.value.floatLabel" style="padding-left:15px; width:50%">
            <mat-label>Sig Figs</mat-label>
            <input matInput name="sig_figs" [(ngModel)]="metric.sig_figs" value="{{metric.sig_figs}}">
          </mat-form-field>
        </div>
        <div style="width:100%">
          <mat-form-field [floatLabel]="metricForm.value.floatLabel" style="width:50%">
            <mat-label>Edited By</mat-label>
            <input matInput name="edited_by" [(ngModel)]="metric.modified_by" value="{{metric.modified_by}}" readonly>
          </mat-form-field>
          <mat-form-field [floatLabel]="metricForm.value.floatLabel" style="padding-left:15px; width:50%">
            <mat-label>Sequence</mat-label>
            <input matInput name="sequence" [(ngModel)]="metric.sequence" value="{{metric.sequence}}">
          </mat-form-field>
        </div>
        <div style="width:100%" *ngIf="metric.LastUpdatedFromScraper">
          <mat-form-field [floatLabel]="metricForm.value.floatLabel" style="width:50%">
            <mat-label>Database Source</mat-label>
            <input matInput name="database_scraped" value="Scraped" readonly>
          </mat-form-field>
          <mat-form-field [floatLabel]="metricForm.value.floatLabel" style="padding-left:15px; width:50%">
            <mat-label>Last Scraped</mat-label>
            <input matInput name="lastUpdatedFromScraper" [(ngModel)]="metric.LastUpdatedFromScraper" value="{{metric.LastUpdatedFromScraper | date: 'fullDate'}}">
          </mat-form-field>
        </div>
        <div style="width:100%" *ngIf="!metric.LastUpdatedFromScraper">
          <mat-form-field [floatLabel]="metricForm.value.floatLabel" style=" width:50%">
            <mat-label>Databse Source:</mat-label>
            <input matInput name="database_sheet" value="Spreadsheet" readonly>
          </mat-form-field>
        </div>
        <div style="width:100%">
          <mat-checkbox name="is_featured" [(ngModel)]="metric.is_featured" value="{{metric.is_featured}}" style="width:50%; padding-left:15px" color="primary">Is Featured</mat-checkbox>
          <mat-checkbox name="is_visible" [(ngModel)]="metric.is_displayed" value="{{metric.is_displayed}}" style="width:50%; padding-left:15px" color="primary">Is Displayed</mat-checkbox>
        </div>
      </form>
    </mat-tab>
    <mat-tab label="Meta Data" style="width:100%; height:100%; overflow:visible ">
      <br />
      <div *ngFor="let m of metric.meta">
        <mat-form-field [floatLabel]="metricForm.value.floatLabel" style="width:100%; height:40%">
          <mat-label>{{m.type}}</mat-label>
          <textarea matInput name="{{m.type}}" rows="3" [(ngModel)]="m.data" value="{{m.data}}"></textarea>
        </mat-form-field>
        <div>
          <button mat-flat-button style="background-color:#C62828" (click)="removeMeta(m)">Remove {{m.type}}</button>
        </div>
      </div>
      <div class="pull-left" style="margin-top: 10px">
        <button mat-flat-button *ngIf="!hasDef" style="background-color:#002c77; " (click)="addDef()">Add Definition</button>
        <button mat-flat-button (click)="addFoot()" style="margin-left:15px; background-color:#002c77;">Add Footnote</button>
      </div>

    </mat-tab>
    <mat-tab label="Sources "  style="width:100%; height:100%; overflow:visible ">
      <table mat-table *ngIf="sources.length != 0" [dataSource]="sources" class="mat-elevation-z8" style="width:60%; margin-top:10px; height:60%">
        <ng-container matColumnDef="agency" style="padding-left:35px">
          <th mat-header-cell *matHeaderCellDef> Agency Name </th>
          <td mat-cell *matCellDef="let source"> {{source.AgencyName}} </td>
        </ng-container>
        <ng-container matColumnDef="name" style="padding-left:35px">
          <th mat-header-cell *matHeaderCellDef>Name</th>
          <td mat-cell *matCellDef="let source"> {{source.name}} </td>
        </ng-container>
        <ng-container matColumnDef="edit" style="padding-left:35px">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let source">
            <button  (click)="openEdit(source)" matTooltip="Edit {{source.name}}" type="button" mat-icon-button style="color:#ffae42 ">
              <mat-icon>edit</mat-icon>
            </button>
          </td>
        </ng-container>
        <ng-container matColumnDef="delete" style="padding-left:35px">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let source">
            <button mat-raised-button style=" font-size:10pt; height:35px; margin-left:10px; background-color:#C62828; color:white" [matMenuTriggerFor]="menu"><mat-icon style=" font-size:10pt; margin-top:10px">keyboard_arrow_down</mat-icon>Delete</button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="removeSource(source, 0)">
                From Current Metric
              </button>
              <button mat-menu-item *ngIf="metric.hasChildren" style="padding-right:0" (click)="removeSource(source, 1)">
                From Current Metric and Children
              </button>
            </mat-menu>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumnsSource"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsSource;"></tr>
      </table>

      <button  mat-raised-button style="background-color:#002c77; font-size:10pt; height:35px; margin-left:10px; margin-top:14px; color:white;" (click)="addSources()"><mat-icon style=" font-size:10pt; margin-top:10px">add</mat-icon>Add Sources</button>

    </mat-tab>
    <mat-tab label="Adjustments" style="width:100%; height:100%; overflow:visible ">
      <table mat-table *ngIf="metric.available_adjustments.length != 0" [dataSource]="metric.available_adjustments" class="mat-elevation-z8" style="width:60%; margin-top:10px; height:60%">
        <ng-container matColumnDef="name" style="padding-left:35px">
          <th mat-header-cell *matHeaderCellDef> Adjustment </th>
          <td mat-cell *matCellDef="let adjustment"> {{adjustment.name}} </td>
        </ng-container>
        <ng-container matColumnDef="delete" style="padding-left:35px">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let adjustment">
            <button matTooltip="Delete {{adjustment.name}}" type="button" mat-icon-button style="color:#C62828" (click)="RemoveAdjustment(adjustment)">
              <mat-icon style="color:#C62828">delete</mat-icon>
            </button>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumnsAdj"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsAdj;"></tr>
      </table>
      <button *ngIf="!hasInflation" mat-raised-button style="background-color:#002c77; font-size:10pt; height:35px; margin-left:10px; margin-top:14px; color:white;" (click)="addInflation()"><mat-icon style=" font-size:10pt; margin-top:10px">add</mat-icon>Add Adjust For Inflation</button>
      <button *ngIf="!hasPerCapita" mat-raised-button style="background-color:#002c77; font-size:10pt; height:35px; margin-left:10px; margin-top:14px; color:white;" (click)="addPerCapita()"><mat-icon style=" font-size:10pt; margin-top:10px">add</mat-icon>Add Adjust For Per Capita</button>
    </mat-tab>
      <mat-tab label="Data Points" *ngIf="hasData" style="width:100%; height:85%; overflow:visible ">
        <div style="display:block; height: 50%; width:65%; position: relative; float:left">
        <canvas baseChart #linechart="base-chart"
                [datasets]="chartData"
                [labels]="chartLabels"
                [options]="chartOptions"
                [chartType]="chartType"
                [colors]="chartColor"
                [legend]="false"></canvas>
          </div>
        <div style="height:80%; float:right; width:30%;">
          <form style="vertical-align:middle; padding-top:40%">
            <mat-checkbox style="color:#228B22" color="primary" checked="true" (change)="toggleStaging()">Staging</mat-checkbox><br />
            <mat-checkbox style="color:#002c77" color="primary" *ngIf="this.published && this.published.data && this.published.data.length" (change)="togglePublished()">Published</mat-checkbox><br />
            <mat-checkbox *ngIf="scraped && scraped.Data && scraped.Data.length != 0" style="color:#C62828" color="primary" (change)="toggleScraped()">Scraped</mat-checkbox>
          </form>
        </div>
      </mat-tab>
  </mat-tab-group>
  <mat-dialog-actions style="overflow:visible">
    <div>
      <button mat-flat-button style="background-color:#002c77 " (click)="save()">Save</button>
    </div>
    <div style="padding-left:15px;">
      <button mat-flat-button style="background-color:#C62828"(click)="cancel()">Cancel</button>
    </div>
  </mat-dialog-actions>
</div>

