
<div class="header-row" style="padding-left:20px">
  <h2>Sources</h2>
</div>
<div>
  <mat-form-field [floatLabel]="sourceSelectForm.value.floatLabel" style="padding-left:35px">
    <mat-label>Select Source</mat-label>
    <mat-select matInput name="selectedSource" [(ngModel)]="svc.sourcesTabSelectedSource" (ngModelChange)="selectSource()">
      <mat-option *ngFor="let s of svc.uniqueSources" [value]="s">
        {{s}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <source-table *ngIf="selected"></source-table>
</div>



