
<div class="header-row" style="padding-left:20px">
  <h2>Sources</h2>
</div>
<div style="height:100%; overflow:auto">
  <mat-form-field [floatLabel]="sourceSelectForm.value.floatLabel" style="padding-left:35px; width:30%">
    <mat-label>Select Source</mat-label>
    <mat-select matInput name="selectedSource" [(ngModel)]="svc.sourcesTabSelectedSource" (ngModelChange)="selectSource()">
      <mat-option *ngFor="let s of svc.uniqueSources" [value]="s">
        {{s}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-raised-button style="background-color:#002c77; font-size:10pt; height:35px; margin-left:10px; color:white;" (click)="addSource()"><mat-icon style=" font-size:10pt; margin-top:10px">add</mat-icon> Add Source</button>
  <source-table *ngIf="selected"></source-table>
</div>



