<div class="header-row" style="padding-left:20px">
  <h2>Home</h2>
</div>
<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)"
             size="medium"
             color="#fff"
             type="ball-pulse"></ngx-spinner>
<div class="row">
  <div style="padding-left:35px; max-height:33%; width: 48%; float:left">
    <caption style="padding-left:35px; width:75%"><b>Last Updated in Staging</b></caption>
    <table mat-table [dataSource]="svc.kpi_modified" class="mat-elevation-z8" style="width:100%; overflow:scroll;">
      <ng-container matColumnDef="name" style="padding-left:35px">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let metric"> {{metric.name}} </td>
      </ng-container>
      <ng-container matColumnDef="last_modified" style="padding-left:35px">
        <th mat-header-cell *matHeaderCellDef> Staging Updated </th>
        <td mat-cell *matCellDef="let metric"> {{metric.modified_on | date: 'MM/dd/yyyy'}} </td>
      </ng-container>
      <ng-container matColumnDef="last_published" style="padding-left:35px">
        <th mat-header-cell *matHeaderCellDef> Production Updated</th>
        <td mat-cell *matCellDef="let metric"> {{ metric.LastPushedIntoProduction  | date: 'MM/dd/yyyy'}}</td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumnsModified"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumnsModified;"></tr>
    </table>
  </div>

  <div style="padding-right:135px; width: 48%; float:right">
    <caption style="padding-right:35px; width:75%"><b>Last Updated in Production</b></caption>
    <table mat-table [dataSource]="svc.kpi_published" class="mat-elevation-z8" style="width:100%">
      <ng-container matColumnDef="child" style="padding-left:35px">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let metric">
          <button *ngIf="svc.stagingMetrics[0].id != -2 && metric.hasChildren && svc.stagingChildren[0].id == -1" matTooltip="{{metric.id}}" type="button" mat-icon-button style="color:#002c77">
            <mat-icon style="color:#002c77">people</mat-icon>
          </button>
        </td>
      </ng-container>
      <ng-container matColumnDef="name" style="padding-left:35px">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let metric"> {{metric.name}} </td>
      </ng-container>
      <ng-container matColumnDef="last_modified" style="padding-left:35px">
        <th mat-header-cell *matHeaderCellDef> Staging Updated </th>
        <td mat-cell *matCellDef="let metric"> {{metric.modified_on | date: 'MM/dd/yyyy'}} </td>
      </ng-container>
      <ng-container matColumnDef="last_published" style="padding-left:35px">
        <th mat-header-cell *matHeaderCellDef> Production Updated </th>
        <td mat-cell *matCellDef="let metric"> {{ metric.LastPushedIntoProduction  | date: 'MM/dd/yyyy'}}</td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumnsPublished"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumnsPublished;"></tr>
    </table>
  </div>
</div>
<br />
<div class="row" style="padding-left:35px; width: 75%">
  <caption style="padding-left:35px"><b>My Actions</b></caption>
  <table mat-table [dataSource]="actions" class="mat-elevation-z8" style="width:100%">
    <ng-container matColumnDef="action" style="padding-left:35px">
      <th mat-header-cell *matHeaderCellDef> Action </th>
      <td mat-cell *matCellDef="let action"> {{action.action}} </td>
    </ng-container>
    <ng-container matColumnDef="date" style="padding-left:35px">
      <th mat-header-cell *matHeaderCellDef> Date </th>
      <td mat-cell *matCellDef="let action"> {{action.date}} </td>
    </ng-container>
    <ng-container matColumnDef="status" style="padding-left:35px">
      <th mat-header-cell *matHeaderCellDef> Status </th>
      <td mat-cell *matCellDef="let action"> {{ action.status}}</td>
    </ng-container>
    <ng-container matColumnDef="metric" style="padding-left:35px">
      <th mat-header-cell *matHeaderCellDef> Metric </th>
      <td mat-cell *matCellDef="let action"> {{ action.metric}}</td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumnsMyActions"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumnsMyActions;"></tr>
  </table>
</div>
<br />
<br />
<p></p>
