
<div class="header-row" style="padding-left:20px">
  <h2>Staging</h2>
</div>

<div>
  <mat-form-field [floatLabel]="search.value.floatLabel" style="padding-left:35px">
    <mat-label>Search Metric</mat-label>
    <input matInput name="search" [(ngModel)]="SearchID" value="{{SearchID}}">
  </mat-form-field>
  <button mat-raised-button color="primary" style=" font-size:10pt; height:35px; margin-left:10px;" (click)="getSearch()"><mat-icon style=" font-size:10pt; margin-top:10px">search</mat-icon> Search</button>
  <button mat-raised-button *ngIf="svc.stagingReportingUnits[0].id != -1 || svc.stagingTopics[0].id != -1 || svc.stagingMetrics[0].id != -1" color="warn" style=" font-size:10pt; height:35px; width:25px; margin-left:15px;" (click)="clear()"><mat-icon style=" font-size:10pt; margin-top:10px">backspace</mat-icon> Clear</button>
</div>
<ul>
  <li *ngIf="svc.missionBreadCrumb.id != -1" style="display:inline">
    /<a (click)="goToMission()" style="cursor:pointer">{{svc.missionBreadCrumb.name}}</a>
  </li>
  <li *ngIf="svc.reportingUnitBreadCrumb.id != -1" style="display:inline">
    /<a (click)="goToReportingUnit()" style="cursor:pointer">{{svc.reportingUnitBreadCrumb.name}}</a>
  </li>

</ul>
<mission-table *ngIf="svc.stagingMissions[0].id != -1"></mission-table>
<reporting-unit-table *ngIf="svc.stagingReportingUnits[0].id != -1"></reporting-unit-table>
<topic-table *ngIf="svc.stagingTopics[0].id != -1"></topic-table>
<metric-table *ngIf="svc.stagingMetrics[0].id != -1"></metric-table>

