
<h1 mat-dialog-title *ngIf="!add">Edit: {{source.AgencyName}}</h1>
<div mat-dialog-title *ngIf="add">
  <button mat-icon-button style="color:#C62828;float:right" (click)="cancel()"><mat-icon>clear</mat-icon></button>
  <div style="width:75%">
    <h1>Add Source </h1>
  </div>

</div>


<div mat-dialog-content *ngIf="!add" style="width:100%; height:90%; overflow:visible ">
  <br />
  <form style="width:100%; height:75%; overflow:visible; ">
    <div style="width:100%">
      <mat-form-field [floatLabel]="sourceForm.value.floatLabel" style="width:65%">
        <mat-label>Agency Name</mat-label>
        <mat-select matInput name="agency" [(ngModel)]="source.AgencyName" value="{{source.AgencyName}}">
          <mat-option *ngFor="let s of agencyNames" [value]="s">
            {{s}}
          </mat-option>
        </mat-select>

      </mat-form-field>
      <mat-form-field [floatLabel]="sourceForm.value.floatLabel" style="padding-left:15px;width:30%">
        <mat-label>ID</mat-label>
        <input matInput name="id" [(ngModel)]="source.id" value="{{source.id}}" readonly>
      </mat-form-field>
    </div>
    <div style="width:100%">
      <mat-form-field [floatLabel]="sourceForm.value.floatLabel" style="width:65%">
        <mat-label>Name</mat-label>
        <input matInput name="name" [(ngModel)]="source.name" value="{{source.name}}">
      </mat-form-field>
      <mat-form-field [floatLabel]="sourceForm.value.floatLabel" style="padding-left:15px;width:30%">
        <mat-label>Last Updated</mat-label>
        <input matInput name="lastUpdated" [(ngModel)]="source.LastUpdated" value="{{source.LastUpdated}}">
      </mat-form-field>
    </div>
    <div style="width:100%">
      <mat-form-field [floatLabel]="sourceForm.value.floatLabel" style="width:65%">
        <mat-label>Table/File Name</mat-label>
        <input matInput name="tableOrFileName" [(ngModel)]="source.TableOrFileName" value="{{source.TableOrFileName}}">
      </mat-form-field>
    </div>
    <div style="width:100%">
      <mat-form-field [floatLabel]="sourceForm.value.floatLabel" style="width:50%">
        <mat-label>Update Schedule</mat-label>
        <input matInput name="updateSchedule" [(ngModel)]="source.UpdateSchedule" value="{{source.UpdateSchedule}}">
      </mat-form-field>
      <mat-form-field [floatLabel]="sourceForm.value.floatLabel" style="padding-left:15px;width:50%">
        <mat-label>Year Type</mat-label>
        <input matInput name="yearType" [(ngModel)]="source.YearType" value="{{source.YearType}}">
      </mat-form-field>
    </div>
    <div style="width:100%">
      <mat-form-field [floatLabel]="sourceForm.value.floatLabel" style="width:65%">
        <mat-label>Description</mat-label>
        <input matInput name="description" [(ngModel)]="source.description" value="{{source.description}}">
      </mat-form-field>
    </div>
    <div style="width:100%">
      <mat-form-field [floatLabel]="sourceForm.value.floatLabel" style="width:100%; height:40%">
        <mat-label>URL</mat-label>
        <textarea matInput name="url" rows="2" [(ngModel)]="source.Url" value="{{source.Url}}"></textarea>
      </mat-form-field>
    </div>
    <div style="width:100%">
      <mat-form-field [floatLabel]="sourceForm.value.floatLabel" style="width:100%; height:40%">
        <mat-label>URL Download</mat-label>
        <textarea matInput name="urlDownload" rows="2" [(ngModel)]="source.UrlDownload" value="{{source.UrlDownload}}"></textarea>
      </mat-form-field>
    </div>
    <mat-dialog-actions style="overflow:visible">
      <div style="width:40%; margin-top:10px; bottom:10px">
        <button mat-flat-button style="background-color:#002c77; width:20% " (click)="save()">Save</button>
        <button mat-flat-button style="background-color:#C62828; margin-left:15px; width:20%" (click)="cancel()">Cancel</button>
      </div>
    </mat-dialog-actions>
  </form>
</div>

<div *ngIf="add" mat-dialog-content style="width:100%; height:80%; overflow:visible ">
  <br />
  <mat-horizontal-stepper [linear]="true" #stepper>
    <mat-step>
      <form style="width:100%; height:75%; overflow:visible">
        <mat-radio-group style="display:inline-flex; flex-direction:column; width:65%" [(ngModel)]="selectedAgency" name="select">
          <mat-radio-button value="1" checked="true">
            Existing Agency
          </mat-radio-button>
            <mat-form-field [floatLabel]="sourceForm.value.floatLabel" style="width:65%">
              <mat-label>Agency Name</mat-label>
              <mat-select matInput name="existingAgency" [(ngModel)]="existingAgency" value="{{existingAgency}}">
                <mat-option *ngFor="let s of agencyNames" [value]="s">
                  {{s}}
                </mat-option>
              </mat-select>

            </mat-form-field>

            <mat-radio-button value="2">
              New Agency
            </mat-radio-button>
            <mat-form-field [floatLabel]="sourceForm.value.floatLabel" style="width:65%">
              <mat-label>Agency Name</mat-label>
              <input matInput name="newAgency" [(ngModel)]="newAgency" value="{{newAgency}}">
            </mat-form-field>
        </mat-radio-group>
      </form>
      <div>
        <button mat-button matStepperNext style="background-color:#002c77; color:white " [disabled]="(existingAgency == '' && selectedAgency == 1) || (newAgency =='' && selectedAgency == 2) || selectedAgency ==0">Next</button>
      </div>
    </mat-step>
    <mat-step >
      <form style="width:100%; height:75%;overflow:visible ">
        <div style="width:100%">
          <mat-form-field [floatLabel]="sourceForm.value.floatLabel" style="width:65%">
            <mat-label>Name</mat-label>
            <input matInput name="name" [(ngModel)]="source.name" value="{{source.name}}">
          </mat-form-field>
          <mat-form-field [floatLabel]="sourceForm.value.floatLabel" style="padding-left:15px;width:30%">
            <mat-label>Last Updated</mat-label>
            <input matInput name="lastUpdated" [(ngModel)]="source.LastUpdated" value="{{source.LastUpdated}}">
          </mat-form-field>
        </div>
        <div style="width:100%">
          <mat-form-field [floatLabel]="sourceForm.value.floatLabel" style="width:65%">
            <mat-label>Table/File Name</mat-label>
            <input matInput name="tableOrFileName" [(ngModel)]="source.TableOrFileName" value="{{source.TableOrFileName}}">
          </mat-form-field>
        </div>
        <div style="width:100%">
          <mat-form-field [floatLabel]="sourceForm.value.floatLabel" style="width:50%">
            <mat-label>Update Schedule</mat-label>
            <input matInput name="updateSchedule" [(ngModel)]="source.UpdateSchedule" value="{{source.UpdateSchedule}}">
          </mat-form-field>
          <mat-form-field [floatLabel]="sourceForm.value.floatLabel" style="padding-left:15px;width:50%">
            <mat-label>Year Type</mat-label>
            <input matInput name="yearType" [(ngModel)]="source.YearType" value="{{source.YearType}}">
          </mat-form-field>
        </div>
        <div style="width:100%">
          <mat-form-field [floatLabel]="sourceForm.value.floatLabel" style="width:65%">
            <mat-label>Description</mat-label>
            <input matInput name="description" [(ngModel)]="source.description" value="{{source.description}}">
          </mat-form-field>
        </div>
        <div style="width:100%">
          <mat-form-field [floatLabel]="sourceForm.value.floatLabel" style="width:100%; height:40%">
            <mat-label>URL</mat-label>
            <textarea matInput name="url" rows="2" [(ngModel)]="source.Url" value="{{source.Url}}"></textarea>
          </mat-form-field>
        </div>
        <div style="width:100%">
          <mat-form-field [floatLabel]="sourceForm.value.floatLabel" style="width:100%; height:40%">
            <mat-label>URL Download</mat-label>
            <textarea matInput name="urlDownload" rows="2" [(ngModel)]="source.UrlDownload" value="{{source.UrlDownload}}"></textarea>
          </mat-form-field>
        </div>

      </form>
      <div>
        <button mat-button matStepperPrevious style="background-color:#C62828; color: white">Back</button>
        <button mat-flat-button style="background-color:#002c77; margin-left:15px " (click)="save()">Save</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</div>

