
<h1 mat-dialog-title>Edit {{source.AgencyName}}</h1>
<div mat-dialog-content style="width:100%; height:90%; overflow:visible ">
      <br />
      <form style="width:100%; height:100%;overflow:visible ">
        <div style="width:100%">
          <mat-form-field [floatLabel]="sourceForm.value.floatLabel" style="width:65%">
            <mat-label>Agency Name</mat-label>
            <input matInput name="agencyName" [(ngModel)]="source.AgencyName" value="{{source.AgencyName}}">
          </mat-form-field>
          <mat-form-field [floatLabel]="sourceForm.value.floatLabel" style="padding-left:15px;width:30%">
            <mat-label>ID</mat-label>
            <input matInput name="id" [(ngModel)]="source.id" value="{{source.id}}" readonly>
          </mat-form-field>
        </div>

       
      </form>

  <mat-dialog-actions style="overflow:visible">
    <div>
      <button mat-flat-button style="background-color:#002c77 " >Save</button>
    </div>
    <div style="padding-left:15px;">
      <button mat-flat-button style="background-color:#C62828">Cancel</button>
    </div>
  </mat-dialog-actions>
</div>

