<div style="padding-left:35px">
  <caption style="padding-left:35px"><b>Sources</b></caption>
  <div class="mat-elevation-z8" style="overflow-y:auto; width:100%; height: 100%">
    <table mat-table [dataSource]="svc.sourcesTabSelectedSources"  style="width:100%">
      <ng-container matColumnDef="name" style="padding-left:35px">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let source"> {{source.name}} </td>
      </ng-container>
      <ng-container matColumnDef="tableOrFile" style="padding-left:35px">
        <th mat-header-cell *matHeaderCellDef> Table or File Name </th>
        <td mat-cell *matCellDef="let source"> {{source.TableOrFileName}} </td>
      </ng-container>
      <ng-container matColumnDef="url" style="padding-left:35px">
        <th mat-header-cell *matHeaderCellDef> Url </th>
        <td mat-cell *matCellDef="let source" style="word-wrap:break-word; padding:5px;"> {{source.Url }} </td>
      </ng-container>
      <ng-container matColumnDef="urlDownload" style="padding-left:35px">
        <th mat-header-cell *matHeaderCellDef> Url Download </th>
        <td mat-cell *matCellDef="let source" style="word-wrap:break-word; padding:5px;"> {{source.UrlDownload  }} </td>
      </ng-container>
      <ng-container matColumnDef="lastUpdated" style="padding-left:35px">
        <th mat-header-cell *matHeaderCellDef> Last Updated </th>
        <td mat-cell *matCellDef="let source"> {{source.LastUpdated  }} </td>
      </ng-container>
      <ng-container matColumnDef="metrics" style="padding-left:35px">
        <th mat-header-cell *matHeaderCellDef> Metrics </th>
        <td mat-cell *matCellDef="let source"> {{ source.Metrics?.length  }} </td>
      </ng-container>
      <ng-container matColumnDef="edit" style="padding-left:35px">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let source">
          <button matTooltip="Edit {{source.name}}" type="button" mat-icon-button style="color:#ffae42 " (click)="edit(source)">
            <mat-icon>edit</mat-icon>
          </button>
        </td>
      </ng-container>
      <ng-container matColumnDef="delete" style="padding-left:35px">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let source">
          <button matTooltip="Delete {{source.name}}" type="button" mat-icon-button style="color:#C62828 " (click)="delete(source)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>
