
<div class="container-fluid" style="height:100%">
  <mat-toolbar style="width:100%; background-color:#002c77; color: white;">
    <mat-toolbar-row>
      <h1 class="app-name">{{title}}</h1>&nbsp;v 1.1
      <span style="flex: 1 1 auto;"></span>
      <button type="button" *ngIf="svc.loginService.isLoggedIn" mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>person</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="logout()">
          Log Out
        </button>
        <button mat-menu-item (click)="profile()">
          Your Profile
        </button>
      </mat-menu>
      
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-sidenav-container class="example-container" style="height: 100%" >
    <mat-sidenav *ngIf="svc.loginService.isLoggedIn" mode="side" opened role="navigation" style="height:100%;">
      <mat-nav-list  style="background-color:#002c77; color: white; height: 100%">
        <ul>
          <li routerLinkActive="['link-active']"><a mat-list-item routerLink='/home' style="color:white">Home</a></li>
          <li routerLinkActive="['link-active']"><a mat-list-item routerLink='/staging' style="color:white">Metrics</a></li>
          <li routerLinkActive="['link-active']"><a mat-list-item routerLink='/sources' style="color:white">Sources</a></li>
          <li routerLinkActive="['link-active']"><a mat-list-item routerLink='/uploadFile' style="color:white">Upload</a></li>
          <li *ngIf="svc.loginService.profile.Role == 'SuperAdmin'"><a mat-list-item routerLink='/export' style="color:white">Export</a></li>
        </ul>
        
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content style="height:100%;  overflow:auto">
      <router-outlet></router-outlet>
      <br />
      <br />
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>


