li.link-active a,
li.link-active a:hover,
li.link-active a:focus {
  background-color: black;
  color: white;
}
ul {
  list-style-type: none;
}
li {
  list-style-type: none;
}
.e:hover {
  background-color: #F0F0F0;
}
